@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');


#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #f6e5f2;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 3px solid #464f60;
}


/*.section {
  text-align: center;
}*/

#navbar {
  width:100%;
  height: 70px;
  top: 0px;
  position: absolute;
  z-index: 900;
  font-family: 'Lato', sans-serif;
  font-weight:100;
  font-size: 20px;
  letter-spacing: 4px;
}

#navbar ul {
  margin-top: 30px;
  list-style-type: none;
}

#navbar li {
  display: inline;
  margin-left: 20px;
    }

#navbar a {
  text-decoration: none;
    -webkit-transition: letter-spacing 1s;
  transition: letter-spacing 1s;
  color:#e7e8e9
}

#navbar a:hover {
  color:#9a7783;
  border-top-style: solid;
  border-top-width: 0.5px;
  padding-top: 5px;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  padding-bottom: 5px;
  letter-spacing: 8px;
}

#navbar a:active {
  text-decoration: none;
  color:#9a7783;
}

#home {
  background-image: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



#logo {
display: block;
margin: auto;
}

#hi {
  text-align: center;
  margin-top: 50px;
  color: #e7e8e9;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  font-weight:100;
}

#about {
  /*background-color: #aec0cf*/
  background-color: #869DB1;
}


#about h2 {
  display: block;
  text-align: right;
  margin-right: 50px;
  font-family: 'Lato', sans-serif;
  font-weight:100;
  font-size: 40px;
  color:#e7e8e9;
  letter-spacing: 4px;
}
#about #mePhoto {
  float:left;
  margin-left: 50px;
  margin-right: 50px;
}
#about p {
  font-family: 'Lato', sans-serif;
  color:#464f60;
  letter-spacing: 2px;
  font-weight:normal;
  font-size: 19px;
  text-align: justify;
  margin-right: 160px;
}

#back {
  width: 50px;
  height: 50px;
  display: block;
  text-align: left;
  margin-left: 30px;
  margin-top: -70px;
}

#back:hover {
  filter:drop-shadow(5px 5px 5px #00050A);
}
#work {
  background-color: #856b7b;

}

#work h1 {
  display: block;
  text-align: right;
  margin-right: 50px;
  margin-top: -250px;
  margin-bottom: 200px;
  font-family: 'Lato', sans-serif;
  font-weight:100;
  font-size: 50px;
  color:#e7e8e9;
  letter-spacing: 4px;
}

#work h2 {
  display: block;
  text-align: right;
  margin-right: 50px;
  font-family: 'Lato', sans-serif;
  font-weight:100;
  font-size: 40px;
  color:#e7e8e9;
  letter-spacing: 4px;
}

#graphicDesign h2 {
  margin-top: -150px;
}

#programming h2 {
  margin-top: -150px;
}

#threeD h2 {
  margin-top: -150px;
}

#photography h2 {
  margin-top: -50px;
}

#video h2 {
  margin-top: -150px;
}


#work_sections {
  text-align: center;
}

#work_sections a {
  margin-top: 350px;
  font-family: 'Lato', sans-serif;
  font-weight:100;
  font-size: 35px;
  letter-spacing: 4px;
  color:#E9E7E7;
  text-decoration: none;
  margin-right: 60px;

}

#work_sections a:hover {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  padding-bottom: 5px;

}

.slide {
  padding-top: 60px;
}

#graphicDesign {
background-color: #485162;
text-align: center;
  }

  div.gallery {
      margin: 5px;
      float: left;
      padding-left: 35px;
  }

  /*#photography .gallery {
    padding-left: 10px;
  }*/

 div.gallery:hover {
   filter:drop-shadow(20px 20px 20px #00050A);

}

div.gallery img {
    width: 100%;
    height: auto;
}

.responsive {
    padding: 0 2px;
    float: left;
    width: 22.99999%;
}

@media only screen and (max-width: 960px){
    .responsive {
        width: 30.3333%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 700px){
  .responsive {
        width: 47.99999%;
        margin: 6px 0;
    }
}


#programming {
  background-color: #9b8c99;
}

#threeD {
  background-color: #4e4967;
}

#photography {
  background-color: #272e3d;
}

#video {
  background-color: #8c90a1;
}

div#colorbox {
  z-index: 100000;
}

}
