


#image1 {
    float: right;
  padding-right: 60px;
}

#image2 {
  padding-top: 140px;
  float:left;
}

#image3 {
  padding-top: 60px;
  float:right;
  padding-right: 60px;
}

#image4 {
  padding-top: 60px;
  float: left;
}

#image5 {
  padding-top: 60px;
  float: right;
  padding-right: 60px;
}

#image6 {
  float: left;
  padding-top: 60px;
}
