
/* #info {
  text-align: right;
} */




#video {
display: block;
margin: 0 auto;
padding-top: 100px;
}


.gallery_2 {
  text-align: center;
}

.images_2 {
  /* display: inline-block;
  float: auto;
  padding-top: 20px; */
  padding-right: 50px;

}


#image2 {
/* padding-top: 100px; */
  float: right;
}

#image3 {
padding-top: 110px;
  float: left;
}
