#title {
  width: 300px;
}
#info {
  text-align: right;
}

#description {
  letter-spacing: 2px;
  width: 50%;
}

h3 {
  font-family: "Lato";
  color: #2d3a58;
  font-size: 14px;
  font-weight:100;
  text-transform: uppercase;
  letter-spacing: 4px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#video {
  float: right;
  padding-right: 40px;
  padding-left: 20px;
  padding-top: 70px;
  padding-bottom: 20px;

}

@media only screen and (min-width: 1680px){
  #video {
  padding-right: 215px;
  }
}
.gallery_2 {
  text-align: center;
  }

.images_2 {
  display: inline-block;
  float: auto;
  padding-top: 20px;
}

#image3 {
  padding-left: 20px;
}
