
#image1 {
  float: right;
  padding-right: 15%;
}

#image2 {
  float: left;
  padding-top:  310px;
}


#image3 {
  margin-top: 50px;
  float: right;
    padding-right: 50px;
}

#div_image4 {
  display: block;
}
#image4 {
  display:block;
  float: right;
  margin-top: 80px;
  padding-right: 50px;
}



.images_2 {
  /* display: inline-block;
  float: auto;
  padding-right: 40px; */
  float: left;
  width: 25%;
  padding: 5px;
  padding-top: 80px
}
.gallery_2::after {

  content: "";
  clear: both;
  display: table;
  }
