/* #frame {
  text-align: center;
} */




/* .gallery_2 {
  text-align: center;
  } */

  .images_2 {
    /* display: inline-block;
    float: auto;
    padding-top: 20px; */


  }

#image2 {
  padding-top: 80px;
  float: left;

}

#image3 {
  padding-top: 80px;
  float: right;
  padding-right: 50px;

}

#image4 {
  padding-top: 80px;
  float: left;
}
