.gallery_2 {
  text-align: center;
}


#image1 {
  padding-top: 60px;
  padding-right: 60px;
  float: right;
}

#image2 {
  padding-top: 60px;
  float: left;
}

#image3 {
  padding-top: 60px;
  padding-right: 60px;
  float: right;
}

#image4 {
  padding-top: 100px;
}

#image5 {
  padding-top: 60px;
}
