.gallery_2 {
  text-align: center;
  }

#title {
width: 500px;
}
.images_2 {
  display: inline-block;
  float: auto;
  padding-top: 20px;
}

#image2 {
  padding-left: 20px;
}

#info {
  padding-top: 0px;
  text-align: center;
  width: 100%;
}
