#frame {
  text-align: center;
}

#video {
  float: right;
  padding-right: 40px;
  padding-left: 20px;
  padding-top: 70px;
  padding-bottom: 30px;

}
@media only screen and (min-width: 1680px){
  #video {
  padding-right: 215px;
  }
}

#info h2 {
  font-size: 22px;
}

#role {
  font-family: "Lato";
  color: #2d3a58;
  font-weight:100;
  letter-spacing: 4px;
}

#info {
  text-align: right;
}

#description {
  letter-spacing: 2px;
  width: 50%;

}

.gallery_2 {
  text-align: center;
  }

.images_2 {
  display: inline-block;
  float: auto;
  padding-top: 20px;
}

#image2 {
  padding-left: 20px;
}
