body {
  background-color: #e7e8e9;

}


#title h1{
    font-family: "Lato";
    color: #2d3a58;
    font-weight:200;
    letter-spacing: 7px;
    border: solid;
    padding-top: 7px;
    padding-bottom: 7px;
    border-color: #7e6576;
}

#title {
  width: 250px;
  margin: auto;
  text-align: center;
}

#info h2{
  font-family: "Lato";
  color: #2d3a58;
  font-weight:100;
  letter-spacing: 4px;
}
