




#video {
  display: block;
  margin: 0 auto;
  padding-top: 100px;

}


#image1 {
  float: right;
}
#image2 {
  padding-top: 100px;
  float: left;
}

#image3 {
padding-top: 100px;
float: right;
}

#image4 {
  padding-top: 100px;
  float: left;
}

.gallery_2 {
  text-align: center;
  padding-right: 50px;
  }





.images_2 {
  /* display: inline-block;
  float: auto; */

}
